@{
  Layout = "_Layout";
  ViewBag.Title = "Home";
}

<h1>Welcome, Claire!</h1>
<h4>This application will help manage Eau Claire's Hair Salon.</h4>
<h4>Click on a link below to get started!</h4>

<p>@Html.ActionLink("My Stylists", "Index", "Stylists")</p>

@* @Html.ActionLink("text display goes here", "Target-Controller-Name", "Name-of-the-controller-without-Controller-appended-to-it") *@