@{
  Layout = "_Layout";
  ViewBag.Title = "Home";
}

<h1>Welcome, Claire!</h1>
<h4>This is a manager application of</h4>
<span id="business-name">Eau Claire's Hair Salon</span>
<h4>Click on a link below to get started!</h4>

<h4>@Html.ActionLink("Add New Client", "Create", "Clients")</h4>
<h4>@Html.ActionLink("Add New Stylist", "Create", "Stylists")</h4>
<h4>@Html.ActionLink("My Stylists", "Index", "Stylists")</h4>